@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic','Hiragino Mincho ProN',  sans-serif;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width : $container_width + $container_padding;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 15px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/*////// message //////*/
.message-group{
	.message-row{
		margin-top: 20px;
		.message-col{
			float : left;			
			.image{
				img{ max-width : 100%; height : auto; }
			}
		}
		.message-col:first-child{
			margin-left: 0px;
		}
		/* mesage-col */
		.message-col370{
			width: 370px;
			margin-left: 20px;
		}	
		.message-col345{
			width: 345px;
			margin-left: 20px;			
		}		
		.message-col240{
			width: 240px;
			margin-left: 20px;
		}
		
		.message-col180{
			width: 180px;
			margin-left: 13px;
		}
		.message-col110{
			width: 110px;
			margin-left: 20px;
		}
		.message-col50{
			width: 50px;
			margin-left: 10px;
		}
	}
	.message-row:first-child{
		margin-top: 0px;
	}	
	
	.message-col300{
		width: 300px;
		margin-left: 50px;	
		.option-service-title{
			height: 30px;
			background-color: #9e8477;
			text-align: center;
			color: $text_common;
			font-size: 14px;
			margin-bottom: 10px;
			padding: 8px 0;
		}
		.option-service-info{		
			.text{
				width: 200px;
				float: right;				
			}
			.image{
				width: 72;
				float : left;
				margin-right: 10px;
			}
		}
	}
}

.message-right{
	.text{
		float : right;
	}
	.image{
		float : left;
		margin-right: 20px;
	}
}	
.message-left{
	.text{
		float : left;
	}
	.image{
		float : right;
		margin-left: 20px;
	}
}

.message-280{
	.text{
		width: 460px;
	}
	.image{
		width: 280px;
	}
}

.message-340{
	.text{
		width: 400px;
	}
	.image{
		width: 340px;
	}
}


.message-250{	
	.text{
		width: 440px;		
		.feature-icon{
			font-size: 20px;
		}
	}
	.image{
		width: 250px;
	}
}

.message-175{
	padding: 5px 20px 0 20px;
	.text{
		width: 525px;			
	}
	.image{
		width: 175px;
	}
}

.message-174{
	margin-bottom: 20px;	
	.text{
		width: 515px;		
		.title{font-size: 18px;}		
	}
	.image{
		width: 174px;				
	}
}

.message-230{
	.text{
		width: 460px;
	}
	.image{
		width: 230px;
	}
}

.message-200{
	.text{
		width: 490px;
		.space{
			margin-left: -8px;
		}
	}
	.image{
		width: 200px;
	}
}

.message-154{
	.text{
		width: 536px;
		.title{font-size: 18px;}	
	}
	.image{
		width: 154px;
	}
}
/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret{
	margin : 0px;
	padding : 0px;
	list-style : none;
	i.fa{
		margin-right : 5px;
	}
}
.list-inline{
	li{
		float : left;
		margin-left: 10px;
	}
	li:first-child{
		margin-left: 0px;
	}
}

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
header{
	.top-title{
		padding-top: 15px;
		font-size: 14px;
	}
	.header-content{
		padding: 20px 0;
		.header-logo{
			float: left;
			width: 428px;
		}
		.header-tel{
			float: left;
			width: 390px;
			padding-left: 115px;
		}
		.header-con{
			float: left;
			padding-left: 27px; 
		}		
	}
	#header-banner{
		background : transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
		padding: 20px 0px;
	}
}/* end header */

#main-content{
	padding : 50px 0px 40px;
	background : transparent url("../img/common/main_bg.jpg") repeat 0 0 scroll;
}


/*//////// Sidebar commmon ////////////*/
/* begin sideMnu1 */
#sideMnu1{
		margin : 0px auto;
		background : transparent url("../img/common/side_content_mnu1.png") no-repeat 0 0 scroll;
		height: 326px;				
		ul{			
			margin : 0px;
			padding : 0px;
			list-style: none;	
			padding-top: 75px;
			li{
				a{
					background : transparent none no-repeat 0 0 scroll;					
					display: block;							
					padding: 22px 70px;
					color: $text_color ;
					line-height: 20px;
				}
				a:hover{
					color: $sub_color1;
				}			
			}				
		}
}/* end sideMenu */	

/* begin sideMnu2 */
#sideMnu2{
		margin : 0px auto;
		background : transparent url("../img/common/side_content_mnu2.png") no-repeat 0 0 scroll;
		height: 404px;				
		ul{			
			margin : 0px;
			padding : 0px;
			list-style: none;	
			padding-top: 85px;
			li{
				a{
					background : transparent none no-repeat 0 0 scroll;					
					display: block;					
					padding: 22px 70px;					
					color: $text_color ;
					line-height: 20px;
				}
				a:hover{
					color: $sub_color1;
				}							
			}
			li:last-child{
				a{
					padding: 17px 70px;
				}
			}			
			
		}
}/* end sideMenu */			


footer{
	background : transparent url("../img/common/footer_bg.jpg") repeat-x 0 0 scroll;
	height: 180px;
	.footer-content{
		margin-top: 40px;
		.footer-logo{
			float: left;			
		}
		.footer-tel{
			float: left;
			margin-left: 55px;
		}
		.footer-con{
			float: left;
			margin-left: 15px;
		}
		a:hover{
			opacity: 0.6;
		}
	}
	.copyright{
		margin-top: 40px;
		color: $bg_color;
	}	
}
