@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/*////// heading //////*/
h1{

}
.h2_title{
	font-size : 20px;
	line-height : 45px;
	padding-left : 20px;
	background : $bg_color url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
	margin-bottom : 20px;
	color: $text_common;
}
.h3_title{
	font-size : 16px;
	line-height : 32px;
	padding-left : 32px;
	background : $bg_color url('../img/common/h3_title.jpg') no-repeat 0 0 scroll;
	margin-bottom : 15px;
}
h4{

}

/*/////////// common parts ////////////*/
.navigation{
	a{ color : $sub_color1; }
	a:hover{ text-decoration : underline; }
}
/*/////////// globalNavi ////////////*/
.globalNavi-dynamic{	
	background : transparent url("../img/common/navi_bg.jpg") repeat-x 0 0 scroll;
	@include border_radius(5px);
	.globalNavi-content{		
		ul{			
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float : left;				
				a{
					display: block;										
				}				
				a:hover{
					opacity: 0.6;
				}
			}			
		}		
	}	
}

/*/////////// feature ////////////*/
#feature{
	position : relative;	
}
.dark-tooltip{
	width : 200px;	
}

#page-feature{		
	background : transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
	height : 260px;	
	.page-feature-content{		
		padding: 10px 0;
		margin-left: -17px;
		position : relative;		
	}	
}

#breadcrumb{			
	.home{color: #917365;}
}

/*/////////// maintop ////////////*/
#maintop{
	padding : 15px 0px;
	p{ margin-top : 20px; }
	p:first-child{ margin-top : 0px; }
}
#mainslide{
	background : transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
	padding : 20px 0px;
	.mainslide-content{		
		.bx-wrapper{
			margin : 0px auto;
			.bx-controls{
				display: none;
			}
		}	
		.bx-viewport{
			left : 0px;
			box-shadow : none;
			/*border : none;*/
			.bxslider{
				width: 1060px;
				li{
					margin-left: -40px;
				}
			}
		}		
		.bx-controls-direction .bx-prev{
			position: absolute;			
			left : -64px;
		}
		.bx-controls-direction .bx-next{
			position: absolute;			
			right : -64px;
		}		
	}
}

/*/////////// side-blog ////////////*/
.side-blog{
	position : relative;
	.side-blog-btn{
		position : absolute;
		bottom : 20px;
		left : 10px;
	}
}

/*/////////// side-con ////////////*/
.side-con{
	position : relative;
	.side-con-btn{
		position : absolute;
		bottom : 25px;
		left : 60px;
	}
}

/*/////////// part-area ////////////*/
.region ul{
	list-style: none;
	margin : 0px;
	padding: 0px;
}
.region > ul{
	padding : 10px;
}
.region > ul > li > span{
	font-weight: bold;
}
.region > ul > li > ul > li > span{	
	padding-left: 10px;
}
.region ul.region_post_list li{
	display: inline;
	padding-right: 10px;
}
.region{
	.region-category{
		margin-bottom: 10px;
		> span{
		margin-bottom: 5px;
		font-weight: bold;
		color: $sub_color1;
		}
	}
	a:hover{
		text-decoration: underline;
		color: $sub_color1;
	}
}


/* message : title, image, caption, link */
.message-classic .message-col{
	.image{
		text-align: center;		
	}
	.title{
		text-align: center;
		line-height: 2em;
		border-bottom: 1px dotted $border_color;
	}
	.caption{				
		text-align: justify;
		padding : 10px 0px 15px;
	}
	.title, .caption{ word-wrap : break-word; }
	.link{
		text-align: right;	
	}
}

/*/////////// part-contact ////////////*/
.part-contact{
	position : relative;
	background-color : $sub_color1;
	height : 210px;
	.part-contact-btn{
		position : absolute;
		left : 10px;
		bottom : 10px;
	}
}

/*/////////// side-blog ////////////*/
.sideBlog{		
	margin-top: 20px;
	.sideBlog-title{		
		color: $text_common;
		line-height: 30px;	
		font-size: 14px;
		background-color: #7e3721;
		padding-left: 10px;
	}
	.sideblog-list{			
		border: 1px solid #7e3721;
		padding: 10px;
		margin: 0;
		list-style: none;
		li{
			a{
				color: $text_color;
				text-decoration: underline;
			}						
		}			
		a:hover{
			text-decoration: none;
		}
	}
}

/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}

/*////////// company ///////////*/
.company_table{
	tr th{
		background-color: #F5F0E8;
		color: $sub_color1;
	}
}

/*/////////// custom post : work ////////////*/
.message-work{
	width: 750px;
	.image{		
		padding: 20px;
	}
	.text{						
		.voice-content{
			margin-top: 15px;
			background-color: #eee;
			padding: 15px 0;
		}
	}
}

/*/////////// index ////////////*/
.top-content-info1{
	background : transparent url("../img/content/top_content_img1.jpg") no-repeat 0 0 scroll;
	height: 390px;
	margin-left: -5px;
	.title{
		padding: 70px 360px 10px 70px;
		color: $border_color;
		font-size: 24px;
		line-height: 1em;		
		font-family: 'Hiragino Mincho ProN', serif;
	}
	
	.text{
		padding: 5px 340px 0px 42px;
	}
}

.top-content-info2{
	position: relative;
	height: 242px;
	.text{
		position: absolute;		
		left: 20px;
		top: 90px;		
		right: 315px;		
		font-size: 14px;
		color: $text_color;	
		height: 50px;
	}	
	a:hover{
		opacity: 0.6;
	}
}


.top-content-info3{
	position: relative;
	height: 243px;
	.text{
		position: absolute;		
		left: 285px;
		top: 90px;		
		right: 20px;		
		font-size: 16px;
		color: $text_color;	
	}	
	a:hover{
		opacity: 0.6;
	}
}

.top-box-text{
	padding: 0 0 20px 20px;
}

.box-content-top{
	.box-col{
		position: relative;
		float : left;	
		width: 365px;
		margin-left: 20px;
		.top-box-title{
			position: absolute;
			top: 43px;
			left: 145px;			
			font-size: 20px;			
		}
		.top-box-text{
			position: absolute;
			bottom: 65px;
			left: 25px;
			right: 25px;			
		}
		.top-box-btn{
			position: absolute;
			bottom: 30px;
			left: 95px;
		}		
	}
	.box-col:first-child{
		margin-left: 0px;
		.top-box-text{
			bottom: 45px;
		}
	}
	
	.box-col:last-child{
		.top-box-title{
			left: 130px;
		}
	}
}

.top-flow-content{
	background : transparent url("../img/content/top_content_flow.jpg") no-repeat 0 0 scroll;
	height: 605px;
	
	.flow-text{
		padding: 85px 85px 20px 85px; 
	}
	ul{
		margin-left: 10px;		
		padding : 0px;
		list-style: none;
		float: left;
		width: 360px;
		li{
			padding: 55px 50px 55px 70px;
			line-height: 1.5em;
			height: 130px;
		}
	}
	.last-child{
		margin-left: -10px;
	}		
}

#part-blog{
	background-color: $text_common;
	margin-top: -15px;	
	width: 750px;
	padding: 0 20px 20px;
	table{
		border: none;
		tbody{			
			th{
				width: 100px;
				font-weight: normal;
			}
			td a{
				color: $text_color;
			}
			th,td{				
				border: none;
				border-bottom : 1px dotted #CCCCCC;
				padding : 15px 0px 2px;
			}				
		}		
	}
}

/*/////////// page-contact ////////////*/
.contact-form{
	border-style: none;
	padding: 0 60px 0 25px;
	tr th,td{
		border: none;
		font-weight: normal;	
	}
	tr{
		border-bottom: 1px dotted #ccc;
	}
	.submit{
			margin-top: 30px;
			text-align: center;
			background-color: #bfbfbf;	
			.wpcf7c-btn-confirm{
				background : transparent url("../img/content/contact_content_btn.jpg") no-repeat 0 0 scroll;
				width: 300px;
				height: 24px;
				text-indent: -999px;
			}
	}
	.wpcf7-textarea{	
		background: $text_common;
	}
	#content{padding: 0!important;}	
}

/*/////////// page-feature ////////////*/
.feature-content{
	width: 750px;
	margin-top: -20px;
	padding: 20px;
	background-color: $text_common;
}
.box-content{
	padding: 0 20px;
}

.box-info{
	position: relative;
	.box-title{
		position: absolute;
		top: 30px;
		left: 110px;
		right: 18px;
		font-size: 18px;
	}
	.box-text{
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 30px;
	}
	.box-text-e1{
		position: absolute;
		bottom: 72px;
		left: 30px;
		right: 30px;
	}
	.box-text-e2{
		position: absolute;
		bottom: 50px;
		left: 30px;
		right: 30px;
		}
}
			
/*/////////// page-standard ////////////*/
.standard-product1{		
	margin: 0 0 -20px 0;	
	padding : 0;
	list-style: none;
	float: left;		
	li{
		margin: 20px 0;
		position: relative;
		.product1-title{
			position: absolute;
			font-size: 18px;
			color: #7e3721;
			top: 20px;
			left: 20px;
		}	
		.product1-text{
			position: absolute;						
			top: 45px;
			right: 270px;
			left: 20px;
		}			
	}	
}

.standard-step{		
	margin: 0 0 -20px 0;	
	padding : 0;
	list-style: none;
	float: left;		
	li{
		margin: 20px 0;
		position: relative;
		.step-title{
			position: absolute;
			font-size: 18px;
			color: #7e3721;
			top: 20px;
			left: 110px;
		}	
		.step-text{
			position: absolute;						
			top: 60px;
			right: 195px;
			left: 25px;
		}				
	}	
}

.price1{
	margin: 20px 20px 0 20px;
	.text{
		background-color: $text_common;
		padding: 20px;
		color: $text_color;
	}	
}

.price2{
	position: relative;
	margin-top: 20px;
	.text{
		position: absolute;
		top: 170px;
		left: -9px;
	}
}

.standard-product2{
	margin: 20px 0;
	position: relative;
	.product2-title{		
		top: 35px;
		right: 65px;
		position: absolute;		
		font :{
			weight: bold;
			size: 20px;
		}		
	}	
	.product2-text{
		position: absolute;						
		top: 85px;
		right: 25px;
		left: 290px;
		.set-product{			
			@include border_radius(10px);
			background-color: #917365;
			color: $text_common;
			padding: 5px 10px;			
		}		
		.icon{font-size: 18px;}
	}
	.last-child{
		top: 35px;
		right: 135px;
		position: absolute;		
		font :{
			weight: bold;
			size: 20px;
		}
	}
}

/*/////////// page-standard ////////////*/
.post-row-content{	
	background-color: #eee;
	padding: 25px 20px 90px 30px;
	.post-info{
		.post-title{	
			float: left;
			text-decoration: underline;
			font-size: 18px;
		}
		.post-time{
			float: right;
		}
	}
	.post-description{
		padding-top: 30px;
	}
}

a.previouspostslink, a.nextpostslink, a.page{
	color: #000;
}
span.current{ 
	background-color: #656565;
	color: $text_common;
	border-color: #656565 !important;
}

/*/////////// page-voice ////////////*/
.voice-post-content{
	width: 750px;
	margin: 20px 0;
	background-color: #eee;
	padding: 20px;
	.voice-post-title{
		font-size: 18px;
	}
	.image{
		padding: 20px 0;
	}
	.voice-title{
		text-align: left;
	}
	.voice-text{
		margin-top: 20px;
		padding: 20px;
		background-color: $text_common;
	}
}

/*/////////// page-lesson ////////////*/
.lesson-content{
	width: 750px;
	margin-top: -20px;
	padding: 20px;
	background-color: $text_common;
	.step-info{
		margin-bottom: 15px;
		.step{
			border-bottom: 4px double #85a886;	
		}
		.step-text{
			padding: 0 20px 20px 20px;
			background-color: #f1f1f1;
			.step-to-step{
				padding-top: 20px;
				.space{
					padding-left: 20px;
				}
			}
		}
	}	
}

/*/////////// page-faq ////////////*/
.faq-content-info{
	margin-top: 20px;
	border: 3px solid #917365;
	padding: 35px;
	background-color: #f1f1f1;
	.title{
		text-align: center;
		padding-bottom: 30px; 
	}
	.text{
		padding-bottom: 25px;
		.text-under{
			a{
				text-decoration: underline;
				color: $text_color;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}	
}

.faq-content{
	margin-bottom: 20px;
	.faq-title{
		background-color: #bda89f;
		border: 2px solid #917365;
		font-size: 14px;
		height: 40px;
		padding: 11px 0 15px 20px;
	}
	
	.faq-text{
		border: 2px solid #917365;
		border-top: none;
		padding: 20px;
		background-color: #f1f1f1;
	}	
}

/*/////////// page-option ////////////*/
.option-content{
	width: 750px;
	margin-top: -20px;
	padding: 20px;
	background-color: $text_common;
	.option-row-info{		
		.text{
			width: 580px;
			float: right;
			.space{
				padding-top: 15px;
			}
		}
		.image{
			width: 114px;
			float : left;
			margin-right: 15px;
		}
	}
	
	.option-info{
		margin-top: 20px;
		border: 3px solid #85a886;
		padding: 20px;
		background-color: #f1f1f1;
		ul{
			padding-top: 20px;			
			list-style: none;
			float: left;
			width: 310px;
			li{				
				float: left;
				margin: 20px 0;
				background :  url("../img/content/option_content_icon.png") no-repeat 0 0 scroll;	
				a{		
					color: $text_color;
					padding-left: 55px;		
					text-decoration: underline;
				}		
				a:hover{	
					text-decoration: none;
				}
			}			
		}		
	}
	
	.option-service{
		border: 1px solid #85a886;
		padding: 20px;
		margin-top: 40px;
		.option-title{			
			text-align: center;
			width: 668px;			
			margin-bottom: 35px;			
			.title{									
				padding: 0 10px;
			}			
		}
	}
}

/*/////////// page-info ////////////*/
.info-content{
	width: 750px;
	margin-top: -20px;
	padding: 20px 20px 40px 20px;
	background-color: $text_common;
	.info-table{
		margin-left: -10px;
		border-style: none;		
		tr th,td{			
			font-weight: normal;	
			border: none;
		}
		th{	
			width: 125px;
			padding: 9px 0 9px 0;
		}
	}
	
	.info-picture{
		margin-top: 20px;	
		.text{
			width: 502px;
			float: left;			
		}
		.image{			
			float : right;	
			width: 180px;
			ul{
				margin-top: -10px;
				padding: 0;
				list-style: none;
				float: float;
				li{
					float: left;
					margin: 10px 0 0 10px;
					width: 50px;
					height: 50px;
					a{
						display: block;	
					}
				}				
			}
		}
	}
}

/*/////////// page-trial ////////////*/
.trial-arrow{
	margin: 10px 0;
	width: 154px;
	text-align: center;
}

/*/////////// page-therapist ////////////*/	
.therapist-content{
	width: 750px;
	margin-top: -20px;
	padding: 20px;
	background-color: $text_common;
}
.therapist-list{
	.therapist-image{
		position: relative;
		.therapist-title{
			font-size: 20px;
			position: absolute;
			right: 65px;
			top: 20px;			
		}
	}
}

.therapist-table{	
	border-style: none;		
	tr th,td{			
		font-weight: normal;	
		border: none;
	}
	th{	
		width: 90px;
		padding: 9px 0 9px 0;
	}
	td{
		padding-left: 0;
	}
	.space{
		padding-right: 27px;
	}
}