@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #7e3721;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #cb5c3a; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: #cccccc; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic','Hiragino Mincho ProN',  sans-serif; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 15px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/*////// message //////*/
.message-group .message-row {
  margin-top: 20px;
  /* mesage-col */ }
  .message-group .message-row .message-col {
    float: left; }
    .message-group .message-row .message-col .image img {
      max-width: 100%;
      height: auto; }
  .message-group .message-row .message-col:first-child {
    margin-left: 0px; }
  .message-group .message-row .message-col370 {
    width: 370px;
    margin-left: 20px; }
  .message-group .message-row .message-col345 {
    width: 345px;
    margin-left: 20px; }
  .message-group .message-row .message-col240 {
    width: 240px;
    margin-left: 20px; }
  .message-group .message-row .message-col180 {
    width: 180px;
    margin-left: 13px; }
  .message-group .message-row .message-col110 {
    width: 110px;
    margin-left: 20px; }
  .message-group .message-row .message-col50 {
    width: 50px;
    margin-left: 10px; }
.message-group .message-row:first-child {
  margin-top: 0px; }
.message-group .message-col300 {
  width: 300px;
  margin-left: 50px; }
  .message-group .message-col300 .option-service-title {
    height: 30px;
    background-color: #9e8477;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 0; }
  .message-group .message-col300 .option-service-info .text {
    width: 200px;
    float: right; }
  .message-group .message-col300 .option-service-info .image {
    width: 72;
    float: left;
    margin-right: 10px; }

.message-right .text {
  float: right; }
.message-right .image {
  float: left;
  margin-right: 20px; }

.message-left .text {
  float: left; }
.message-left .image {
  float: right;
  margin-left: 20px; }

.message-280 .text {
  width: 460px; }
.message-280 .image {
  width: 280px; }

.message-340 .text {
  width: 400px; }
.message-340 .image {
  width: 340px; }

.message-250 .text {
  width: 440px; }
  .message-250 .text .feature-icon {
    font-size: 20px; }
.message-250 .image {
  width: 250px; }

.message-175 {
  padding: 5px 20px 0 20px; }
  .message-175 .text {
    width: 525px; }
  .message-175 .image {
    width: 175px; }

.message-174 {
  margin-bottom: 20px; }
  .message-174 .text {
    width: 515px; }
    .message-174 .text .title {
      font-size: 18px; }
  .message-174 .image {
    width: 174px; }

.message-230 .text {
  width: 460px; }
.message-230 .image {
  width: 230px; }

.message-200 .text {
  width: 490px; }
  .message-200 .text .space {
    margin-left: -8px; }
.message-200 .image {
  width: 200px; }

.message-154 .text {
  width: 536px; }
  .message-154 .text .title {
    font-size: 18px; }
.message-154 .image {
  width: 154px; }

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .list-fa-caret i.fa {
    margin-right: 5px; }

.list-inline li {
  float: left;
  margin-left: 10px; }
.list-inline li:first-child {
  margin-left: 0px; }

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
header .top-title {
  padding-top: 15px;
  font-size: 14px; }
header .header-content {
  padding: 20px 0; }
  header .header-content .header-logo {
    float: left;
    width: 428px; }
  header .header-content .header-tel {
    float: left;
    width: 390px;
    padding-left: 115px; }
  header .header-content .header-con {
    float: left;
    padding-left: 27px; }
header #header-banner {
  background: transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
  padding: 20px 0px; }

/* end header */
#main-content {
  padding: 50px 0px 40px;
  background: transparent url("../img/common/main_bg.jpg") repeat 0 0 scroll; }

/*//////// Sidebar commmon ////////////*/
/* begin sideMnu1 */
#sideMnu1 {
  margin: 0px auto;
  background: transparent url("../img/common/side_content_mnu1.png") no-repeat 0 0 scroll;
  height: 326px; }
  #sideMnu1 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 75px; }
    #sideMnu1 ul li a {
      background: transparent none no-repeat 0 0 scroll;
      display: block;
      padding: 22px 70px;
      color: #333333;
      line-height: 20px; }
    #sideMnu1 ul li a:hover {
      color: #85a886; }

/* end sideMenu */
/* begin sideMnu2 */
#sideMnu2 {
  margin: 0px auto;
  background: transparent url("../img/common/side_content_mnu2.png") no-repeat 0 0 scroll;
  height: 404px; }
  #sideMnu2 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 85px; }
    #sideMnu2 ul li a {
      background: transparent none no-repeat 0 0 scroll;
      display: block;
      padding: 22px 70px;
      color: #333333;
      line-height: 20px; }
    #sideMnu2 ul li a:hover {
      color: #85a886; }
    #sideMnu2 ul li:last-child a {
      padding: 17px 70px; }

/* end sideMenu */
footer {
  background: transparent url("../img/common/footer_bg.jpg") repeat-x 0 0 scroll;
  height: 180px; }
  footer .footer-content {
    margin-top: 40px; }
    footer .footer-content .footer-logo {
      float: left; }
    footer .footer-content .footer-tel {
      float: left;
      margin-left: 55px; }
    footer .footer-content .footer-con {
      float: left;
      margin-left: 15px; }
    footer .footer-content a:hover {
      opacity: 0.6; }
  footer .copyright {
    margin-top: 40px;
    color: #fffbe1; }

/*////// heading //////*/
.h2_title {
  font-size: 20px;
  line-height: 45px;
  padding-left: 20px;
  background: #fffbe1 url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 20px;
  color: white; }

.h3_title {
  font-size: 16px;
  line-height: 32px;
  padding-left: 32px;
  background: #fffbe1 url("../img/common/h3_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 15px; }

/*/////////// common parts ////////////*/
.navigation a {
  color: #85a886; }
.navigation a:hover {
  text-decoration: underline; }

/*/////////// globalNavi ////////////*/
.globalNavi-dynamic {
  background: transparent url("../img/common/navi_bg.jpg") repeat-x 0 0 scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .globalNavi-dynamic .globalNavi-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .globalNavi-dynamic .globalNavi-content ul li {
      float: left; }
      .globalNavi-dynamic .globalNavi-content ul li a {
        display: block; }
      .globalNavi-dynamic .globalNavi-content ul li a:hover {
        opacity: 0.6; }

/*/////////// feature ////////////*/
#feature {
  position: relative; }

.dark-tooltip {
  width: 200px; }

#page-feature {
  background: transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
  height: 260px; }
  #page-feature .page-feature-content {
    padding: 10px 0;
    margin-left: -17px;
    position: relative; }

#breadcrumb .home {
  color: #917365; }

/*/////////// maintop ////////////*/
#maintop {
  padding: 15px 0px; }
  #maintop p {
    margin-top: 20px; }
  #maintop p:first-child {
    margin-top: 0px; }

#mainslide {
  background: transparent url("../img/common/top_banner_bg.jpg") repeat-x 0 0 scroll;
  padding: 20px 0px; }
  #mainslide .mainslide-content .bx-wrapper {
    margin: 0px auto; }
    #mainslide .mainslide-content .bx-wrapper .bx-controls {
      display: none; }
  #mainslide .mainslide-content .bx-viewport {
    left: 0px;
    box-shadow: none;
    /*border : none;*/ }
    #mainslide .mainslide-content .bx-viewport .bxslider {
      width: 1060px; }
      #mainslide .mainslide-content .bx-viewport .bxslider li {
        margin-left: -40px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: -64px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-next {
    position: absolute;
    right: -64px; }

/*/////////// side-blog ////////////*/
.side-blog {
  position: relative; }
  .side-blog .side-blog-btn {
    position: absolute;
    bottom: 20px;
    left: 10px; }

/*/////////// side-con ////////////*/
.side-con {
  position: relative; }
  .side-con .side-con-btn {
    position: absolute;
    bottom: 25px;
    left: 60px; }

/*/////////// part-area ////////////*/
.region ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.region > ul {
  padding: 10px; }

.region > ul > li > span {
  font-weight: bold; }

.region > ul > li > ul > li > span {
  padding-left: 10px; }

.region ul.region_post_list li {
  display: inline;
  padding-right: 10px; }

.region .region-category {
  margin-bottom: 10px; }
  .region .region-category > span {
    margin-bottom: 5px;
    font-weight: bold;
    color: #85a886; }
.region a:hover {
  text-decoration: underline;
  color: #85a886; }

/* message : title, image, caption, link */
.message-classic .message-col .image {
  text-align: center; }
.message-classic .message-col .title {
  text-align: center;
  line-height: 2em;
  border-bottom: 1px dotted #917365; }
.message-classic .message-col .caption {
  text-align: justify;
  padding: 10px 0px 15px; }
.message-classic .message-col .title, .message-classic .message-col .caption {
  word-wrap: break-word; }
.message-classic .message-col .link {
  text-align: right; }

/*/////////// part-contact ////////////*/
.part-contact {
  position: relative;
  background-color: #85a886;
  height: 210px; }
  .part-contact .part-contact-btn {
    position: absolute;
    left: 10px;
    bottom: 10px; }

/*/////////// side-blog ////////////*/
.sideBlog {
  margin-top: 20px; }
  .sideBlog .sideBlog-title {
    color: white;
    line-height: 30px;
    font-size: 14px;
    background-color: #7e3721;
    padding-left: 10px; }
  .sideBlog .sideblog-list {
    border: 1px solid #7e3721;
    padding: 10px;
    margin: 0;
    list-style: none; }
    .sideBlog .sideblog-list li a {
      color: #333333;
      text-decoration: underline; }
    .sideBlog .sideblog-list a:hover {
      text-decoration: none; }

/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

/*////////// company ///////////*/
.company_table tr th {
  background-color: #F5F0E8;
  color: #85a886; }

/*/////////// custom post : work ////////////*/
.message-work {
  width: 750px; }
  .message-work .image {
    padding: 20px; }
  .message-work .text .voice-content {
    margin-top: 15px;
    background-color: #eee;
    padding: 15px 0; }

/*/////////// index ////////////*/
.top-content-info1 {
  background: transparent url("../img/content/top_content_img1.jpg") no-repeat 0 0 scroll;
  height: 390px;
  margin-left: -5px; }
  .top-content-info1 .title {
    padding: 70px 360px 10px 70px;
    color: #917365;
    font-size: 24px;
    line-height: 1em;
    font-family: 'Hiragino Mincho ProN', serif; }
  .top-content-info1 .text {
    padding: 5px 340px 0px 42px; }

.top-content-info2 {
  position: relative;
  height: 242px; }
  .top-content-info2 .text {
    position: absolute;
    left: 20px;
    top: 90px;
    right: 315px;
    font-size: 14px;
    color: #333333;
    height: 50px; }
  .top-content-info2 a:hover {
    opacity: 0.6; }

.top-content-info3 {
  position: relative;
  height: 243px; }
  .top-content-info3 .text {
    position: absolute;
    left: 285px;
    top: 90px;
    right: 20px;
    font-size: 16px;
    color: #333333; }
  .top-content-info3 a:hover {
    opacity: 0.6; }

.top-box-text {
  padding: 0 0 20px 20px; }

.box-content-top .box-col {
  position: relative;
  float: left;
  width: 365px;
  margin-left: 20px; }
  .box-content-top .box-col .top-box-title {
    position: absolute;
    top: 43px;
    left: 145px;
    font-size: 20px; }
  .box-content-top .box-col .top-box-text {
    position: absolute;
    bottom: 65px;
    left: 25px;
    right: 25px; }
  .box-content-top .box-col .top-box-btn {
    position: absolute;
    bottom: 30px;
    left: 95px; }
.box-content-top .box-col:first-child {
  margin-left: 0px; }
  .box-content-top .box-col:first-child .top-box-text {
    bottom: 45px; }
.box-content-top .box-col:last-child .top-box-title {
  left: 130px; }

.top-flow-content {
  background: transparent url("../img/content/top_content_flow.jpg") no-repeat 0 0 scroll;
  height: 605px; }
  .top-flow-content .flow-text {
    padding: 85px 85px 20px 85px; }
  .top-flow-content ul {
    margin-left: 10px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 360px; }
    .top-flow-content ul li {
      padding: 55px 50px 55px 70px;
      line-height: 1.5em;
      height: 130px; }
  .top-flow-content .last-child {
    margin-left: -10px; }

#part-blog {
  background-color: white;
  margin-top: -15px;
  width: 750px;
  padding: 0 20px 20px; }
  #part-blog table {
    border: none; }
    #part-blog table tbody th {
      width: 100px;
      font-weight: normal; }
    #part-blog table tbody td a {
      color: #333333; }
    #part-blog table tbody th, #part-blog table tbody td {
      border: none;
      border-bottom: 1px dotted #CCCCCC;
      padding: 15px 0px 2px; }

/*/////////// page-contact ////////////*/
.contact-form {
  border-style: none;
  padding: 0 60px 0 25px; }
  .contact-form tr th, .contact-form td {
    border: none;
    font-weight: normal; }
  .contact-form tr {
    border-bottom: 1px dotted #ccc; }
  .contact-form .submit {
    margin-top: 30px;
    text-align: center;
    background-color: #bfbfbf; }
    .contact-form .submit .wpcf7c-btn-confirm {
      background: transparent url("../img/content/contact_content_btn.jpg") no-repeat 0 0 scroll;
      width: 300px;
      height: 24px;
      text-indent: -999px; }
  .contact-form .wpcf7-textarea {
    background: white; }
  .contact-form #content {
    padding: 0 !important; }

/*/////////// page-feature ////////////*/
.feature-content {
  width: 750px;
  margin-top: -20px;
  padding: 20px;
  background-color: white; }

.box-content {
  padding: 0 20px; }

.box-info {
  position: relative; }
  .box-info .box-title {
    position: absolute;
    top: 30px;
    left: 110px;
    right: 18px;
    font-size: 18px; }
  .box-info .box-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px; }
  .box-info .box-text-e1 {
    position: absolute;
    bottom: 72px;
    left: 30px;
    right: 30px; }
  .box-info .box-text-e2 {
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 30px; }

/*/////////// page-standard ////////////*/
.standard-product1 {
  margin: 0 0 -20px 0;
  padding: 0;
  list-style: none;
  float: left; }
  .standard-product1 li {
    margin: 20px 0;
    position: relative; }
    .standard-product1 li .product1-title {
      position: absolute;
      font-size: 18px;
      color: #7e3721;
      top: 20px;
      left: 20px; }
    .standard-product1 li .product1-text {
      position: absolute;
      top: 45px;
      right: 270px;
      left: 20px; }

.standard-step {
  margin: 0 0 -20px 0;
  padding: 0;
  list-style: none;
  float: left; }
  .standard-step li {
    margin: 20px 0;
    position: relative; }
    .standard-step li .step-title {
      position: absolute;
      font-size: 18px;
      color: #7e3721;
      top: 20px;
      left: 110px; }
    .standard-step li .step-text {
      position: absolute;
      top: 60px;
      right: 195px;
      left: 25px; }

.price1 {
  margin: 20px 20px 0 20px; }
  .price1 .text {
    background-color: white;
    padding: 20px;
    color: #333333; }

.price2 {
  position: relative;
  margin-top: 20px; }
  .price2 .text {
    position: absolute;
    top: 170px;
    left: -9px; }

.standard-product2 {
  margin: 20px 0;
  position: relative; }
  .standard-product2 .product2-title {
    top: 35px;
    right: 65px;
    position: absolute;
    font-weight: bold;
    font-size: 20px; }
  .standard-product2 .product2-text {
    position: absolute;
    top: 85px;
    right: 25px;
    left: 290px; }
    .standard-product2 .product2-text .set-product {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #917365;
      color: white;
      padding: 5px 10px; }
    .standard-product2 .product2-text .icon {
      font-size: 18px; }
  .standard-product2 .last-child {
    top: 35px;
    right: 135px;
    position: absolute;
    font-weight: bold;
    font-size: 20px; }

/*/////////// page-standard ////////////*/
.post-row-content {
  background-color: #eee;
  padding: 25px 20px 90px 30px; }
  .post-row-content .post-info .post-title {
    float: left;
    text-decoration: underline;
    font-size: 18px; }
  .post-row-content .post-info .post-time {
    float: right; }
  .post-row-content .post-description {
    padding-top: 30px; }

a.previouspostslink, a.nextpostslink, a.page {
  color: #000; }

span.current {
  background-color: #656565;
  color: white;
  border-color: #656565 !important; }

/*/////////// page-voice ////////////*/
.voice-post-content {
  width: 750px;
  margin: 20px 0;
  background-color: #eee;
  padding: 20px; }
  .voice-post-content .voice-post-title {
    font-size: 18px; }
  .voice-post-content .image {
    padding: 20px 0; }
  .voice-post-content .voice-title {
    text-align: left; }
  .voice-post-content .voice-text {
    margin-top: 20px;
    padding: 20px;
    background-color: white; }

/*/////////// page-lesson ////////////*/
.lesson-content {
  width: 750px;
  margin-top: -20px;
  padding: 20px;
  background-color: white; }
  .lesson-content .step-info {
    margin-bottom: 15px; }
    .lesson-content .step-info .step {
      border-bottom: 4px double #85a886; }
    .lesson-content .step-info .step-text {
      padding: 0 20px 20px 20px;
      background-color: #f1f1f1; }
      .lesson-content .step-info .step-text .step-to-step {
        padding-top: 20px; }
        .lesson-content .step-info .step-text .step-to-step .space {
          padding-left: 20px; }

/*/////////// page-faq ////////////*/
.faq-content-info {
  margin-top: 20px;
  border: 3px solid #917365;
  padding: 35px;
  background-color: #f1f1f1; }
  .faq-content-info .title {
    text-align: center;
    padding-bottom: 30px; }
  .faq-content-info .text {
    padding-bottom: 25px; }
    .faq-content-info .text .text-under a {
      text-decoration: underline;
      color: #333333; }
    .faq-content-info .text .text-under a:hover {
      text-decoration: none; }

.faq-content {
  margin-bottom: 20px; }
  .faq-content .faq-title {
    background-color: #bda89f;
    border: 2px solid #917365;
    font-size: 14px;
    height: 40px;
    padding: 11px 0 15px 20px; }
  .faq-content .faq-text {
    border: 2px solid #917365;
    border-top: none;
    padding: 20px;
    background-color: #f1f1f1; }

/*/////////// page-option ////////////*/
.option-content {
  width: 750px;
  margin-top: -20px;
  padding: 20px;
  background-color: white; }
  .option-content .option-row-info .text {
    width: 580px;
    float: right; }
    .option-content .option-row-info .text .space {
      padding-top: 15px; }
  .option-content .option-row-info .image {
    width: 114px;
    float: left;
    margin-right: 15px; }
  .option-content .option-info {
    margin-top: 20px;
    border: 3px solid #85a886;
    padding: 20px;
    background-color: #f1f1f1; }
    .option-content .option-info ul {
      padding-top: 20px;
      list-style: none;
      float: left;
      width: 310px; }
      .option-content .option-info ul li {
        float: left;
        margin: 20px 0;
        background: url("../img/content/option_content_icon.png") no-repeat 0 0 scroll; }
        .option-content .option-info ul li a {
          color: #333333;
          padding-left: 55px;
          text-decoration: underline; }
        .option-content .option-info ul li a:hover {
          text-decoration: none; }
  .option-content .option-service {
    border: 1px solid #85a886;
    padding: 20px;
    margin-top: 40px; }
    .option-content .option-service .option-title {
      text-align: center;
      width: 668px;
      margin-bottom: 35px; }
      .option-content .option-service .option-title .title {
        padding: 0 10px; }

/*/////////// page-info ////////////*/
.info-content {
  width: 750px;
  margin-top: -20px;
  padding: 20px 20px 40px 20px;
  background-color: white; }
  .info-content .info-table {
    margin-left: -10px;
    border-style: none; }
    .info-content .info-table tr th, .info-content .info-table td {
      font-weight: normal;
      border: none; }
    .info-content .info-table th {
      width: 125px;
      padding: 9px 0 9px 0; }
  .info-content .info-picture {
    margin-top: 20px; }
    .info-content .info-picture .text {
      width: 502px;
      float: left; }
    .info-content .info-picture .image {
      float: right;
      width: 180px; }
      .info-content .info-picture .image ul {
        margin-top: -10px;
        padding: 0;
        list-style: none;
        float: float; }
        .info-content .info-picture .image ul li {
          float: left;
          margin: 10px 0 0 10px;
          width: 50px;
          height: 50px; }
          .info-content .info-picture .image ul li a {
            display: block; }

/*/////////// page-trial ////////////*/
.trial-arrow {
  margin: 10px 0;
  width: 154px;
  text-align: center; }

/*/////////// page-therapist ////////////*/
.therapist-content {
  width: 750px;
  margin-top: -20px;
  padding: 20px;
  background-color: white; }

.therapist-list .therapist-image {
  position: relative; }
  .therapist-list .therapist-image .therapist-title {
    font-size: 20px;
    position: absolute;
    right: 65px;
    top: 20px; }

.therapist-table {
  border-style: none; }
  .therapist-table tr th, .therapist-table td {
    font-weight: normal;
    border: none; }
  .therapist-table th {
    width: 90px;
    padding: 9px 0 9px 0; }
  .therapist-table td {
    padding-left: 0; }
  .therapist-table .space {
    padding-right: 27px; }
